#map {
     margin-left: 100px;
 }
body {
    margin: 0;
}
.navbar {
    width: 100px;
    height: 100vh;
    margin-left: 0px;
    border: 15px solid gray;
}

#container {
    height: 100%;
    width: 100%;
    display: flex;
}

img {
    width: 100%;
}


